:root {
  /* Colors */
  --color-light-gray: #ededed;
  --color-dark-gray: #4a4a4a;
  --color-primary: #ea7f28;
  --color-secondary: #d37324;
  --color-main-background: #fff;

  /* Typography */
  --font-primary: "Roboto", sans-serif;
  --font-size-lg: 32px;
  --font-size-md: 18px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Spacing and Layout */
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 24px;

  --header-height: 80px;
  --footer-height: 80px;

  --content-width: 800px;

  /* Button Sizes */
  --button-width: 128px;
  --button-height: 32px;

  /* Shadows */
  --box-shadow-default: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-dark-gray);
  font-family: var(--font-primary);
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header-wrapper, .footer-wrapper {
  height: 80px;
  background: var(--color-main-background);
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-light-gray);
}

.footer-wrapper {
  border-top: 2px solid var(--color-light-gray);
}

.header-wrapper .logo-wrapper {
  height: 100%;
}

.nav-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-container .link-button {
  text-decoration: none;
  font-size: var(--font-size-md);
  cursor: pointer;
}

.main-container {
  flex-grow: 1; 
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: var(--spacing-lg);
}

.main-container .filter-form {
  display: flex;
  gap: var(--spacing-md);
  border: thin solid var(--color-light-gray);
  border-radius: 0;
  padding: var(--spacing-lg);
  flex-direction: column;
}

.filter-form .filter-form-label {
  align-items: flex-start;
  margin: 0;
  border-radius: 0;
}

.filter-form .filter-form-select {
  width: 100%;
  border-radius: 0;
  border-color: var(--color-light-gray);
}

.filter-form-select-menu.MuiMenu-paper {
  margin-top: 0.5rem;
  border: thin solid var(--color-light-gray);
  border-radius: 0;
}
.filter-form-select-menu .MuiMenu-list {
  padding: 0;
}

.filter-form-select-menu .filter-form-select-menu-item:hover {
  background-color: var(--color-primary);
  color: var(--color-main-background);
}

.filter-form .filter-form-select .MuiSelect-icon {
  color: var(--color-light-gray);
  font-size: 2.5rem;
}

.filter-form .filter-form-select .MuiOutlinedInput-notchedOutline {
border: thin solid var(--color-light-gray);;
}

.filter-form .MuiFormControlLabel-label {
  margin-bottom: 0.5rem;
}

.filter-form .filter-form-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.main-container .filter-form-button {
  border-radius: 0;
  background-color: var(--color-primary);
  padding: 0.5rem 4rem;
  color: var(--color-main-background);
  text-transform: unset;
}

.filter-form .filter-form-button:active {
  background-color: var(--color-secondary);
}

.main-container .main-heading {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.main-container .sub-heading {
  font-size: var(--font-size-lg);
  font-weight: 400;
}
.main-container .car-list-info {
  font-size: var(--font-size-md);
}

.car-list .car-list-item {
  list-style: none;
  width: 100%;
}

.car-list .car-list-item.favourite {
 position: relative;
}

.car-list .car-list-item.favourite .car-card {
  border-color: var(--color-primary);
  position: relative;
}

.car-list .car-list-item.favourite::after {
  content: "★";
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-primary);
  background-color: transparent;
}

.car-list .car-list-item .car-card {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  border: thin solid var(--color-light-gray);
  border-radius: 0;
  box-shadow: none;
  color: var(--color-dark-gray);
}

.car-card .car-image {
  max-width: 120px;
  object-fit: cover;
}
.car-card .car-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-md);
}

.car-card .car-content:last-child {
  padding-bottom: 0;
}

.main-container .text-button {
  font-size: var(--font-size-md);
  text-transform: none;
  color: var(--color-primary);
  padding: 0;
  text-decoration: none;
}

.main-container .text-button:active {
  color: var(--color-secondary);
}

.main-container .text-button:hover {
  text-decoration: underline;
  background-color: transparent;
}

.main-container .car-details-favourite {
  border: thin solid var(--color-light-gray);
  border-radius: 0;
  padding: var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}

.main-container .car-details-favourite .filter-form-button.details {
  align-self: flex-end;
  margin-top: 0;
}

.main-container .car-details {
  display: flex;
  flex: 1;
  position: relative;
}

.main-container .car-details .close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-main-background);
  border: none;
  border-radius: 0;
  cursor: pointer;
  text-transform: none;
}

.main-container .car-details .close-button:active {
  background-color: var(--color-secondary);
}

.main-container .car-details .car-details-image {
  max-height: 30vh;
  object-fit: contain;
}

.car-details .car-content {
  align-self: center;
}

.error-page-wrapper .error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
  text-transform: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}